<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.4.6.min.css">
    <link rel="stylesheet" href="/static/css/init.css">

    <script src="/static/js/register.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <a class="navbar-brand" href="#">问答</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">首页<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled">发布问答</a>
                </li>
                <li class="nav-item ml-4">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="关键字" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                    </form>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/user/login">登录</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/user/register">注册</a>
            </li>
        </ul>

    </div>
</nav>
<div class="container">
    <div class="row mt-4">
        <div class="col"></div>
        <div class="col">
            <form method="POST" action="/user/register">
                <div class="form-group">
                    <label for="exampleInputEmail1">邮箱</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           name="email">
                    <small id="emailHelp" class="form-text text-muted">遵守保密协议不会将邮箱用于除本站以为的地方
                    </small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">验证码</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="captcha">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="captcha-btn">获取验证码</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">用户名</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="username">
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">密码</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">确认密码</label>
                    <input type="password" class="form-control" name="password_confirm">
                </div>
                <button type="submit" class="btn btn-primary btn-block">立即登录</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
<script type="text/javascript">
    var captchaBtn = document.getElementById("captcha-btn");

    captchaBtn.onclick = function () {
        alert("点击按钮测试");
    }
</script>
</body>
</html>